# Rust
target/
Cargo.lock

# Node
node_modules/
dist/
dist-ssr/
*.local

# Logs
logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Video files
*.mp4
*.mov
*.mkv
